{% extends 'base.html' %}

{% block content %}

<div class="container" style="margin-top:300px;margin-left:40%">
    <div class="row">
        <div class="card" style="width: 25rem;">
          <div class="card-body">
              <form method="POST">
                  {% csrf_token %}
                  <h5 class="card-title">Are you sure this task is done?</h5>
                  <input type="submit"class="btn btn-primary">
              </form>
          </div>
        </div>
    </div>
</div>

{% endblock %}