{% extends 'base.html' %}

{% block content %}

<div class="container" style="margin-top:300px;margin-left:40%">
    <div class="row">
        <div class="card" style="width: 25rem;">
          <div class="card-body">
              <form method="POST" style="text-align:center">
                  {% csrf_token %}
                  {{ f.as_p }}
                  <button type="submit" class="btn btn-success">Submit</button>
              </form>
          </div>
        </div>
    </div>
</div>

{% endblock %}